#OS junk files
[Tt]humbs.db
*.DS_Store

#node
node_modules
npm-debug.log

#VIM
*.swp

#PhpStorm
*.idea/*

#SublimeText
*.sublime-workspace
*.sublime-project

#SASS
*.sass-cache

#compiled assets
/build-reports
/www/assets/css
/www/assets/js

# remove this line as soon as you move the files over to your own repo
vendor
